{% extends "JobCode/base.html" %}

{% block content %}
<div class="content-section">
    <form method="POST" action="time">

        {% csrf_token %}

        <h2>Timesheet Submission</h2>

        <label>Site Code:</label>
        {{form.site_code}}
        <label>Contractor Name:</label>
        {{form.contractor}}
        <label>Date:</label>
        {{form.date}}
        <fieldset>



            <div class="input_fields_wrap">

                <div><label>Labor Code:</label><select name="dropdown1" id='select1'>{% for site in job %}<option
                            value="{{ site}}">
                            {{ site }}</option>
                        {% endfor %}</select><label>Hrs.Worked:</label><input type="text"
                        name="mytext1" /><label>Total:</label><input type="text" name="mytext2" /></div>


                <h3 id='preview_title'></h3>



            </div>
            <button class="add_field_button">Add More Fields</button>




        </fieldset>
        <fieldset>
            <legend>Machine Entry</legend>





            <div class="input_fields_wrap2">

                <div><label>Machine Code:</label><select name="dropdown2" id='select2'>{% for site in machine %}<option
                            value="{{ site}}">
                            {{ site }}</option>
                        {% endfor %}</select><label>Hrs.Worked:</label><input type="text"
                        name="mytext1" /><label>Total:</label><input type="text" name="mytext2" /></div>
            </div>
            <button class="add_field_button2">Add More Fields</button>





        </fieldset>

        <div class="form-group">

            <button class="btn btn-outline-info" type="submit">Submit</button>

        </div>
    </form>

</div>



<script type="text/javascript">
    $(document).ready(function () {
        var max_fields = 10; //maximum input boxes allowed
        var wrapper = $(".input_fields_wrap"); //Fields wrapper
        var add_button = $(".add_field_button"); //Add button ID

        var x = 1; //initlal text box count
        $(add_button).click(function (e) { //on add input button click
            e.preventDefault();
            if (x < max_fields) { //max input box allowed
                x++; //text box increment

                $(wrapper).append(
                    '<div><label>Labor Code:</label><select name="dropdown1">{% for site in job %}<option value="{{ site}}">{{ site }}</option>{% endfor %}</select ><label>Hrs.Worked:</label><input type="text" name="mytext1"/><label>Total:</label><input type="text" name="mytext2"/><a href="#" class="remove_field">Remove</a></div>'
                ); //add input box
            }
        });

        $(wrapper).on("click", ".remove_field", function (e) { //user click on remove text
            e.preventDefault(); $(this).parent('div').remove(); x--;
        })
    });


    $(document).ready(function () {
        var max_fields = 10; //maximum input boxes allowed
        var wrapper = $(".input_fields_wrap2"); //Fields wrapper
        var add_button = $(".add_field_button2"); //Add button ID

        var x = 1; //initlal text box count
        $(add_button).click(function (e) { //on add input button click
            e.preventDefault();
            if (x < max_fields) { //max input box allowed
                x++; //text box increment

                $(wrapper).append(
                    '<div><label>Machine Code:</label><select name="dropdown2">{% for site in machine %}<option value="{{ site}}">{{ site }}</option>{% endfor %}</select ><label>Hrs.Worked:</label><input type="text" name="mytext1"/><label>Total:</label><input type="text" name="mytext2"/><a href="#" class="remove_field">Remove</a></div>'
                ); //add input box
            }
        });

        $(wrapper).on("click", ".remove_field", function (e) { //user click on remove text
            e.preventDefault(); $(this).parent('div').remove(); x--;
        })
    });






    $(document).ready(function () {
        var titleItem = $("#id_select_code");
        $("#preview_title").text(titleItem.val())
    });



</script>

{% endblock content %}